:root{
    --fontTitulo:"DM Serif Text", serif; /*Italic o Regular*/
    --fontTitulo1:"Atma", serif; 
    --fontPrimaria:"Plus Jakarta Sans";
    --colorPrimario:#33aec0
}
h1,h2,h3,h4,h5,p,label,input,a{
    font-family: var(--fontPrimaria);
}

.fontP{
    font-family: var(--fontPrimaria);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.mt-10{
    margin-top: 10rem;
}

.link{
    text-decoration: none;
}
  

/* HEADER */
.titulo{
    font-family: var(--fontTitulo1);
    font-weight: 500;
    font-style: italic;
    color: #000;
}
.tituloLink{
    text-decoration: none;
}
.bg-header{
    background-color: var(--colorPrimario);
}

/* FIN HEADER */

.contenedor-carrito-img{
    transition: transform .2s;
}
.img-carrito{
    width: 30px;
    height: 30px;
}
.contenedor-carrito-img:hover{
    transform: scale(1.1);
}

/* productos */
.img-product{
    height: 400px;
    object-fit: cover;
}
.img-detail{
    width: 100%;
    height: auto;
}
.botonesCount{
    display: flex;
    gap: 10px;
}
.producto-destacado{
    height: 100%;
}
.back{
    color: #000;
    font-size: 30px;
}
/* .contenedor-itemdetail{
    width: 70%;
}
.contenedor-count{
    width: 30%;
} */


/* FOOTER */
.footer{
    max-height: 200px;
}
.img-logo{
    width: 50px;
    height: 50px;
}
.iconos{
    color: #000;
    font-size: 25px;
    transition: all .2s;
}
.iconos:hover{
    color: #1d1d1d;
    transform: scale(1.1);
}
/* FIN FOOTER */





/* CARRITO */
.cart-container {
    right: -450px; 
    width: 400px;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 100;
}
  
.cart-container.open {
    right: 0;
}
  
.close-button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
}
  
.contenedor-carrito-img {
    cursor: pointer;
}

.img-cart{
    width: 150px;
}

.botones-carrito {
    width: 36px; 
    height: 36px;
    font-size: 18px; 
    border-radius: 4px; 
  }


.incon-trash{
    font-size: 1.5rem;
    height: 5px;
    cursor: pointer;
}
.incon-trash:hover{
    transform: scale(1.1);
}

  
/* FIN CARRITO */